@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  url('../fonts/roboto/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
  url('../fonts/roboto/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto'),
  url('../fonts/roboto/roboto-v30-cyrillic_latin-900.woff2') format('woff2');
}
